<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"></script>
    <title>Login</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="login-box">
        <img src="~/img/avatar.png" class="avatar">
        <h1>LOGIN</h1>
        <div>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                <font color="red">@Html.ValidationSummary(true, "", new { htmlAttributes = new { @class = "text-danger" } })</font>
                <font color="green">@ViewBag.Message</font>
                <p>Username</p>
                <div class="textbox">
                    <input type="text" placeholder="Enter username" name="Username" value="" />
                    <i class="fas fa-user fa-lg fa-fw" aria-hidden="true"></i>

                </div>
                <p>Password</p>
                <div class="textbox">
                    <input type="password" placeholder="Enter Password" name="Password" value="" />
                    <i class="fas fa-lock fa-lg fa-fw" aria-hidden="true"></i>

                </div>
                <input class="btn" value="Login" name="action" type="submit" />
                <a href="@Url.Action("Index", "Home")">Back to Homepage ?  </a>
            }
        </div>
    </div>
</body>
</html>