<div class="header_bottom" style="background-color: #F0EEEE;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <!-- logo start -->
                <div class="logo"> <a href="loadQuestion"><img src="~/img/logo.png" alt="logo" /></a> </div>
                <!-- logo end -->
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <!-- menu start -->
                <div class="menu_side">
                    <div id="navbar_menu">
                        <ul class="first-ul">
                            <li>
                                <a class="active" href="loadQuestion">Home</a>
                            </li>
                            <li><a href="createForm.jsp">Create new Question</a></li>
                            <li><a href="logout">Logout</a></li>
                        </ul>
                    </div>
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
</div>

