
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <div>
        @ViewBag.Message <br />
        @Html.ActionLink("Back to Login", "Index", "Login")
    </div>
</body>
</html>
