
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>@ViewBag.Message</div>
    @using (Html.BeginForm("CheckLogin", "Login", FormMethod.Post))
    {
        <table>
            <tr>
                <td>Username: </td>
                <td> <input type="text" required name="txtUsername" /></td>
            </tr>
            <tr>
                <td>Password: </td>
                <td> <input type="password" required name="txtPassword" /></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                    <input type="reset" value="Reset" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Register", "Index", "Register")
                </td>
            </tr>
        </table>
    }
</body>
</html>
